
#baner{
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgb(71, 68, 68);
}

#glowny{
    height: 400px;
    width: 100%;
}

#lewy{
    height: 400px;
    width: 30%;
    background-color: rgb(143, 140, 140);
    float: left;
}

#srodek{
    height: 400px;
    width: 40%;
    background-color: rgb(143, 140, 140);;
    text-align: center;
    float: left;
    
}


#prawy{ 
    height: 400px;
    width: 30%;
    background-color: rgb(143, 140, 140);;
    float: right;
}




#stopka{
    height: 100px;
    width: 100%;
    background-color: rgb(71, 68, 68);
    clear: both;
}

table{
    text-align: center;
    margin: auto;
    border-spacing: 5mm;
    border: solid;

}

button{
    margin: 3px;
    height: 40px;
    width: 40px;
}
